
<h1>Home Page of Simple Application Test Site</h1>
<br>
<hr>
<img src="https://c402277.ssl.cf1.rackcdn.com/photos/9574/images/story_full_width/Oceans-1600x1200px.jpg?1438887611"></img>
<br></br>

<a href="/about">Go to the About page.</a> 

